body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-213px;
  width:1178px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:458px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:563px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:458px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:458px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:726px;
  width:243px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u814 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u814_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:458px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:183px;
  height:31px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:659px;
  width:167px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(52.2035294747505deg);
  -moz-transform:rotate(52.2035294747505deg);
  -ms-transform:rotate(52.2035294747505deg);
  transform:rotate(52.2035294747505deg);
}
#u816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:202px;
  height:31px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:653px;
  width:186px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-42.7280557046975deg);
  -moz-transform:rotate(-42.7280557046975deg);
  -ms-transform:rotate(-42.7280557046975deg);
  transform:rotate(-42.7280557046975deg);
}
#u817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:633px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:822px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:107px;
  height:31px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:543px;
  width:91px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(9.09318202912641deg);
  -moz-transform:rotate(9.09318202912641deg);
  -ms-transform:rotate(9.09318202912641deg);
  transform:rotate(9.09318202912641deg);
}
#u820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:633px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:128px;
  height:31px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:692px;
  width:112px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(3.2878470672777deg);
  -moz-transform:rotate(3.2878470672777deg);
  -ms-transform:rotate(3.2878470672777deg);
  transform:rotate(3.2878470672777deg);
}
#u822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:128px;
  height:31px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:526px;
  width:112px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(3.2878470672777deg);
  -moz-transform:rotate(3.2878470672777deg);
  -ms-transform:rotate(3.2878470672777deg);
  transform:rotate(3.2878470672777deg);
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:822px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:128px;
  height:31px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:864px;
  width:112px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(3.2878470672777deg);
  -moz-transform:rotate(3.2878470672777deg);
  -ms-transform:rotate(3.2878470672777deg);
  transform:rotate(3.2878470672777deg);
}
#u825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:790px;
  width:241px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:268px;
  height:31px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:701px;
  width:252px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-48.4941065311196deg);
  -moz-transform:rotate(-48.4941065311196deg);
  -ms-transform:rotate(-48.4941065311196deg);
  transform:rotate(-48.4941065311196deg);
}
#u827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:847px;
  width:230px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:327px;
  height:31px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:738px;
  width:311px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-49.0279920828972deg);
  -moz-transform:rotate(-49.0279920828972deg);
  -ms-transform:rotate(-49.0279920828972deg);
  transform:rotate(-49.0279920828972deg);
}
#u829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:185px;
  height:31px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:636px;
  width:169px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(59.2412406052043deg);
  -moz-transform:rotate(59.2412406052043deg);
  -ms-transform:rotate(59.2412406052043deg);
  transform:rotate(59.2412406052043deg);
}
#u830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:323px;
  height:31px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:723px;
  width:307px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(71.3531988025628deg);
  -moz-transform:rotate(71.3531988025628deg);
  -ms-transform:rotate(71.3531988025628deg);
  transform:rotate(71.3531988025628deg);
}
#u831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:704px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:765px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:822px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
