body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-213px;
  width:1178px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:458px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:563px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:458px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:458px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:726px;
  width:243px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1065 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1065_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:458px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:183px;
  height:31px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:659px;
  width:167px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(52.2035294747505deg);
  -moz-transform:rotate(52.2035294747505deg);
  -ms-transform:rotate(52.2035294747505deg);
  transform:rotate(52.2035294747505deg);
}
#u1067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:202px;
  height:31px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:653px;
  width:186px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-42.7280557046975deg);
  -moz-transform:rotate(-42.7280557046975deg);
  -ms-transform:rotate(-42.7280557046975deg);
  transform:rotate(-42.7280557046975deg);
}
#u1068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:633px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:822px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:107px;
  height:31px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:543px;
  width:91px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(9.09318202912641deg);
  -moz-transform:rotate(9.09318202912641deg);
  -ms-transform:rotate(9.09318202912641deg);
  transform:rotate(9.09318202912641deg);
}
#u1071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:633px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:128px;
  height:31px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:692px;
  width:112px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(3.2878470672777deg);
  -moz-transform:rotate(3.2878470672777deg);
  -ms-transform:rotate(3.2878470672777deg);
  transform:rotate(3.2878470672777deg);
}
#u1073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:128px;
  height:31px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:526px;
  width:112px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(3.2878470672777deg);
  -moz-transform:rotate(3.2878470672777deg);
  -ms-transform:rotate(3.2878470672777deg);
  transform:rotate(3.2878470672777deg);
}
#u1074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:141px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:822px;
  width:140px;
  height:141px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:128px;
  height:31px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:864px;
  width:112px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(3.2878470672777deg);
  -moz-transform:rotate(3.2878470672777deg);
  -ms-transform:rotate(3.2878470672777deg);
  transform:rotate(3.2878470672777deg);
}
#u1076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:790px;
  width:241px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1077 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1077_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:268px;
  height:31px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:701px;
  width:252px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-48.4941065311196deg);
  -moz-transform:rotate(-48.4941065311196deg);
  -ms-transform:rotate(-48.4941065311196deg);
  transform:rotate(-48.4941065311196deg);
}
#u1078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:847px;
  width:230px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1079 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1079_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:327px;
  height:31px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:738px;
  width:311px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-49.0279920828972deg);
  -moz-transform:rotate(-49.0279920828972deg);
  -ms-transform:rotate(-49.0279920828972deg);
  transform:rotate(-49.0279920828972deg);
}
#u1080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:185px;
  height:31px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:636px;
  width:169px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(59.2412406052043deg);
  -moz-transform:rotate(59.2412406052043deg);
  -ms-transform:rotate(59.2412406052043deg);
  transform:rotate(59.2412406052043deg);
}
#u1081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:323px;
  height:31px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:723px;
  width:307px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(71.3531988025628deg);
  -moz-transform:rotate(71.3531988025628deg);
  -ms-transform:rotate(71.3531988025628deg);
  transform:rotate(71.3531988025628deg);
}
#u1082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:704px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1083 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:765px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1084 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:822px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1085 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
